#test-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

#test-img {
  height: 40px;
  width: 40px;
}

.spacer {
  flex: 1 1 auto;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: inline-block;
}

@media (min-width: 766px) {
  .desktop-only {
    display: inline-block;
  }

  .mobile-only {
    display: none;
  }
}
.white-navbar {
  background-color: white;
  color: whitesmoke;
  border-bottom: 1px solid #ccc;
}

.white-navbar .mat-button {
  color: black;
}
