<mat-toolbar class="white-navbar">
  <button *ngIf="isLoggedIn" mat-icon-button class="mobile-only" (click)="toggleSidenav()">
    <mat-icon *ngIf="!sidenav" style="color: black;">history</mat-icon>
    <mat-icon *ngIf="sidenav" style="color: black;">close</mat-icon>
  </button>
  <button mat-button routerLink="" class="brand">
    <img id="test-img" src="assets/doclogo.jpg">
    <span id="test-text">DOChat</span>
  </button>

  <span class="spacer"></span>

  <button mat-button *ngIf="!isLoggedIn" (click)="openSigninDialog()" class="desktop-only">Login</button>
  <button mat-button *ngIf="!isLoggedIn" (click)="openSignUpDialog()" class="desktop-only">Register</button>
  <button mat-button *ngIf="isLoggedIn" (click)="logout()" class="desktop-only">LogOut</button>
  <button mat-button *ngIf="isLoggedIn" class="desktop-only">{{name}}</button>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-only">
    <mat-icon style="color: black;">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="!isLoggedIn" (click)="openSigninDialog()">Login</button>
    <button mat-menu-item *ngIf="!isLoggedIn" (click)="openSignUpDialog()">Register</button>
    <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">LogOut</button>
    <button mat-menu-item *ngIf="isLoggedIn">{{name}}</button>
  </mat-menu>
</mat-toolbar>
