/* Container for the sidenav and chat
.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 300px;
  z-index: 1000;
  background-color: #f4f4f4;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-input-area {
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.mat-toolbar.mat-primary {
  background: #4e90ff;
  color: #fff;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .sidenav {
    display: none;
  }

  .sidenav.opened {
    display: block;
  }

  .chat-window {
    width: 100%;
  }
}

.chat-sidenav-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 0;
  background-color: #f4f4f4;
}

.chat-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.mat-sidenav {
  z-index: 1000;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}


.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-row {
  flex: 1;
  display: flex;
}

.sidebar {
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
}

.files-list {
  padding: 15px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-input-area {
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.my-message {
  text-align: right;
  color: rgba(255, 255, 255, 0.984);
}

.bot-message {
  text-align: left;
  width:60%
}

.message-content {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  /* background-color: #e0f7fa; */
  /* background-color: rgba(255, 255, 255, 0.687);
}

.my-message .message-content {
  background-color: #0084ffce;
}

.message-box {
  width: 100%;
}

.mat-toolbar.mat-primary {
  background: #4e90ff;
  color: #fff;
} */

.sidebar {
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    width: 80%;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1000;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

